@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: SooraChenival;
    src: url("../fonts/SooraChenival.ttf") format("truetype");
}

.container {
    width: 80%;
    margin: auto;
    position: relative;
    z-index: 1;
}

html {
    font-family: Lato, sans-serif;
}

.video-background {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    object-fit: cover;
    z-index: -1;
}

#home-main {
    background-image: url("../img/background/NestAura-background-gif.gif");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center 0;
    margin: 0;
    align-items: center;
}

.main {
    margin: 0;
    align-items: center;
}

header {
    background-color: #fbf8f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo-container {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 0.5rem;
    font-family: SooraChenival, sans-serif;
}

#main-logo {
    width: 90px;
    height: auto;
}

nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    margin-right: 2rem;
    padding: 0;
}

li a {
    color: black;
    text-decoration: none;
    margin: 0.2rem;
    padding: 0.5rem 0.7rem;
    display: block;
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

li a:hover {
    background-color: rgba(210, 105, 120, 0.6);
}

#home-title {
    display: none;
    text-align: center;
}

.home-article {
    padding: 23rem 0 0 0;
    text-align: center;
}

#home-img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    border: 3px black solid;
}

#home-text {
    width: 70%;
    margin: 1.5rem auto;
    text-align: center;
    font-size: 18px;
}

section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(227, 227, 227);
    padding: 0 0 3rem 0;
}

section h2 {
    width: 100%;
    text-align: center;
    padding: 1.5rem 0 0 0;
}

.products-article {
    min-width: 370px;
    align-items: center;
    width: 30%;
    padding: 2rem;
    margin: 1rem 0 0 0;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

.products-article h3 {
    text-align: center;
}

figure {
    width: 300px;
    height: auto;
    margin: 0 auto 1rem auto;
    border-radius: 8px;
}

figure figcaption {
    color: dimgrey;
    font-size: 75%;
    text-align: center;
}

.product-img {
    border-radius: 8px;
    border: 1px black solid;
    width: 300px;
    height: 300px;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(227, 227, 227);
    margin: 0;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    padding: 1rem 0 2rem 2rem;
}

.contact-info h2 {
    width: 100%;
}

.contact-info p {
    display: block;
}

#contact-credentials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#contact-credentials a {
    color: black;
    text-decoration: none;
}

#contact-credentials a:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

form {
    display: flex;
    flex-wrap: wrap;
    background-color: floralwhite;
    width: 90%;
    margin: 0;
    padding: 1rem;
    place-content: center;
}

form p {
    text-align: center;
}

input {
    display: block;
    width: 100%;
    padding: 1rem;
}

#map-location {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
    margin: 5rem 2rem 0 0;
}

label {
    display: none;
}